In [3]:
import pandas as pd
import seaborn as sn
import pymysql
import sqlalchemy

## Import CSV

In [4]:
df_books = pd.read_csv('/home/dimitri/Documents/code/python/Recommandation_books/goodbooks-10k/books.csv')

In [7]:
df_books_tags = pd.read_csv('/home/dimitri/Documents/code/python/Recommandation_books/goodbooks-10k/book_tags.csv')

In [8]:
df_tags = pd.read_csv('/home/dimitri/Documents/code/python/Recommandation_books/goodbooks-10k/tags.csv')

In [9]:
df_ratings = pd.read_csv('/home/dimitri/Documents/code/python/Recommandation_books/goodbooks-10k/ratings.csv')

In [10]:
df_to_read = pd.read_csv('/home/dimitri/Documents/code/python/Recommandation_books/goodbooks-10k/to_read.csv')

## Explorations datas Df_books

In [9]:
display(df_books)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

Non-null values on isbn/isbn 13/ languagecode/orginal title

In [10]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    10000 non-null  int64
 1   goodreads_book_id          10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

Drop all null values

In [11]:
df_books.dropna(inplace=True)

In [10]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7860 entries, 0 to 9998
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    7860 non-null   int64
 1   goodreads_book_id          7860 non-null   int64
 2   best_book_id               7860 non-null   int64
 3   work_id                    7860 non-null   int64
 4   books_count                7860 non-null   int64
 5   isbn                       7860 non-null   object
 6   isbn13                     7860 non-null   float64
 7   authors                    7860 non-null   object
 8   original_publication_year  7860 non-null   float64
 9   original_title             7860 non-null   object
 10  title                      7860 non-null   object
 11  language_code              7860 non-null   object
 12  average_rating             7860 non-null   float64
 13  ratings_count              7860 non-null   int64
 14  work_ratings_count         7860 non-null   int64
 15  work_text_reviews_count    7860 non-null   int64
 16  ratings_1                  7860 non-null   int64
 17  ratings_2                  7860 non-null   int64
 18  ratings_3                  7860 non-null   int64
 19  ratings_4                  7860 non-null   int64
 20  ratings_5                  7860 non-null   int64
 21  image_url                  7860 non-null   object
 22  small_image_url            7860 non-null   object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.4+ MB

## connection to SQL DATABASE

In [1]:
connection = pymysql.connect(host='localhost',
                             user='dimitri',
                             password='bluedragon',
                             db='dt_books')

NameError: name 'pymysql' is not defined

In [12]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user='dimitri',
                             pw='bluedragon',
                             db='dt_books'))

In [13]:
# Insert whole df_books into MySQL
df_books.to_sql('book_details', con = engine, if_exists = 'append', chunksize = 1000)

In [16]:
df_ratings.to_sql('ratings', con = engine, if_exists = 'append', chunksize = 1000)

In [18]:
df_books_tags.to_sql('books_tags', con = engine, if_exists = 'append', chunksize = 1000)

In [19]:
df_to_read.to_sql('to_read', con = engine, if_exists = 'append', chunksize = 1000)

In [ ]:
df_tags.to_sql('tags', con = engine, if_exists = 'append', chunksize = 1000)

## datavisualisation

In [42]:
df_books_tags.sort_values('count')

        goodreads_book_id  tag_id   count
922053           18607805   17246      -1
922054           18607805    6552      -1
922055           18607805    2272      -1
959611           22931009    9221      -1
922052           18607805   21619      -1
...                   ...     ...     ...
167200              24280   30574  488469
200                     3   30574  496107
911994           18143977   30574  505884
614494            2429135   30574  586235
8400                  865   30574  596234

[999912 rows x 3 columns]

In [44]:
df_books_tags.drop(df_books_tags[df_books_tags['count'] < 0].index, inplace=True)

In [45]:
df_books_tags.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999906 entries, 0 to 999911
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   goodreads_book_id  999906 non-null  int64
 1   tag_id             999906 non-null  int64
 2   count              999906 non-null  int64
dtypes: int64(3)
memory usage: 30.5 MB

In [53]:
df_books_tags['tag_id'].value_counts()

30574    9983
11557    9881
22743    9858
5207     9799
8717     9776
         ...
1212        1
15547       1
23361       1
17218       1
30763       1
Name: tag_id, Length: 34250, dtype: int64

## analyse utilisateur

In [ ]:
df_books_r =

In [54]:
df_ratings.describe()

            user_id       book_id        rating
count  5.976479e+06  5.976479e+06  5.976479e+06
mean   2.622446e+04  2.006477e+03  3.919866e+00
std    1.541323e+04  2.468499e+03  9.910868e-01
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.281300e+04  1.980000e+02  3.000000e+00
50%    2.593800e+04  8.850000e+02  4.000000e+00
75%    3.950900e+04  2.973000e+03  5.000000e+00
max    5.342400e+04  1.000000e+04  5.000000e+00

In [11]:
merge_books_rating = pd.merge(df_books,df_ratings, how = 'left', on='book_id')

In [56]:
merge_books_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5311817 entries, 0 to 5311816
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   book_id                    int64
 1   goodreads_book_id          int64
 2   best_book_id               int64
 3   work_id                    int64
 4   books_count                int64
 5   isbn                       object
 6   isbn13                     float64
 7   authors                    object
 8   original_publication_year  float64
 9   original_title             object
 10  title                      object
 11  language_code              object
 12  average_rating             float64
 13  ratings_count              int64
 14  work_ratings_count         int64
 15  work_text_reviews_count    int64
 16  ratings_1                  int64
 17  ratings_2                  int64
 18  ratings_3                  int64
 19  ratings_4                  int64
 20  ratings_5                  int64
 21  image_url                  object
 22  small_image_url            object
 23  user_id                    int64
 24  rating                     int64
dtypes: float64(3), int64(15), object(7)
memory usage: 1.2+ GB

In [ ]:
merge_books_rating.drop(columns = ['image_url','small_image_url',])